@use 'sass:list';

@use 'stars';

$orbitItemSize: 75px;

$map: (
  ring-0: 3,
  ring-1: 3,
  ring-2: 3,
  ring-3: 2
);

$lastRing: 3;

$maxSize: 80vh;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.orbit {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

.orbit-icon {
  width: $orbitItemSize;
  height: $orbitItemSize;
  line-height: $orbitItemSize;
  font-size: 1.2em;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  text-align: center;
  display: block;
}

.orbit-wrap {
  height: 80vh;
  list-style: none;
  font-size: 1.3em;

  > li {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      ul {
        border-width: 2px;
        border-color: #fff;
      }

      ~ li ul {
        border-color: rgba(255, 255, 255, 0.2);

        li {
          opacity: 0.4;
        }
      }
    }
  }
}

ul[class^='ring'] {
  @extend %ring;

  transition: all 300ms ease-in-out;

  li {
    @extend %orbiting-object;

    transition: all 300ms ease-in-out;
  }
}

@mixin orbit-item($numItems, $numRing, $ringSize) {
  @for $s from 1 through $numItems {
    // Spread items over the ring
    $deg: 380deg / $numItems;

    .ring-#{$numRing} > *:nth-of-type(#{$s}) {
      transform: rotate($s * $deg) translate($ringSize / 2) rotate(-$s * $deg);
    }
  }
}

// Render rings
@for $i from 0 through $lastRing {
  $ringSize: $maxSize - ($i * 20);

  .ring-#{$i} {
    // decrease each ring in size
    width: $ringSize;
    height: $ringSize;
    animation: clockwiseRotate 35s - ($i * 7.5) linear infinite;

    i {
      animation: counterClockwiseRotate 35s - ($i * 7.5) linear infinite;
    }
  }

  @include orbit-item(map-get($map, ring-#{$i}), $i, $ringSize);
}

%ring {
  border: solid 1px rgba(33, 150, 243, 0.8);
  position: relative;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
}

%orbiting-object {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $orbitItemSize;
  height: $orbitItemSize;
  margin: -$orbitItemSize / 2;
}

/*
  center;
*/
.orbit-center {
  z-index: 5;
  font-size: 2em;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
  background: hotpink;
  border-radius: 50%;

  &:hover .orbit-center__icon {
    transform: rotateZ(0deg);
  }
}

.orbit-center__icon {
  transform: rotateZ(-360deg);
  transition: all 300ms ease-in-out;
}

// .orbit-wrap > li.orbit-center:hover ~ li > ul {
//   width: 0;
//   height: 0;
//   * {
//     transform: translate(0, 0);
//   }
// }

/* 
animations 
*/
@keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* 
icons 
*/
$icons: (
  ('heart-o', #b71c1c, white),
  ('coffee', #4caf50, #cddc39),
  ('safari', white, darkslateblue),
  ('firefox', #1565c0, #ff8f00),
  ('chrome', #fbc02d, #ef6c00),
  ('edge', #03a9f4, white),
  ('android', snow, limegreen),
  ('apple', #444, white),
  ('linux', white, #222),
  ('windows', white, #03a9f4),
  ('terminal', #222, #fff),
  ('html5', white, #e65100),
  ('css3', white, #2196f3),
  ('git', #222, white),
  ('free-code-camp', green, white),
  ('meetup', red, white),
  ('podcast', red, white),
  ('codepen', #333, white)
);

@each $icon in $icons {
  .fa-#{nth($icon, 1)} {
    background: nth($icon, 2);
    color: nth($icon, 3);
  }
}

$color: 1;

@each $ring, $size in $map {
  @for $i from 0 through $size {
    .#{$ring} {
      .plane-#{$i} {
        background: list.nth(list.nth($icons, $color), 2);
        color: list.nth(list.nth($icons, $color), 3);
      }
    }

    $color: $color + 1;
  }
}