<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <link rel="stylesheet" type="text/css" href="/assets/fontawesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/all.min.css" />

    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" type="text/css" href="/build/chart.css" />

    <script defer src="/build/chart.js"></script>
</head>

<body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
</body>

</html>