html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  width: 100%;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1308px 601px #FFF , 454px 943px #FFF , 1336px 496px #FFF , 1285px 1070px #FFF , 1531px 488px #FFF , 2067px 1407px #FFF , 743px 1040px #FFF , 148px 1145px #FFF , 354px 1286px #FFF , 1113px 1523px #FFF , 2438px 897px #FFF , 1895px 498px #FFF , 75px 1016px #FFF , 454px 398px #FFF , 1748px 144px #FFF , 1729px 1441px #FFF , 2363px 1199px #FFF , 1067px 1132px #FFF , 1140px 674px #FFF , 1519px 1255px #FFF , 898px 263px #FFF , 677px 8px #FFF , 474px 333px #FFF , 104px 107px #FFF , 1659px 506px #FFF , 976px 1772px #FFF , 419px 1095px #FFF , 198px 1352px #FFF , 174px 1661px #FFF , 2538px 1387px #FFF , 2183px 679px #FFF , 2587px 873px #FFF , 1618px 1728px #FFF , 1090px 488px #FFF , 2117px 624px #FFF , 1807px 636px #FFF , 711px 1164px #FFF , 1553px 146px #FFF , 128px 1104px #FFF , 2262px 1539px #FFF , 2570px 581px #FFF , 2461px 559px #FFF , 2118px 1290px #FFF , 2499px 1837px #FFF , 984px 499px #FFF , 389px 1551px #FFF , 334px 540px #FFF , 1056px 713px #FFF , 181px 552px #FFF , 2383px 81px #FFF , 2530px 1926px #FFF , 695px 562px #FFF , 1374px 1744px #FFF , 419px 207px #FFF , 1597px 1318px #FFF , 904px 1885px #FFF , 774px 1557px #FFF , 931px 951px #FFF , 2103px 1159px #FFF , 35px 442px #FFF , 2452px 1169px #FFF , 1683px 1001px #FFF , 1536px 666px #FFF , 1923px 363px #FFF , 1766px 816px #FFF , 2428px 1074px #FFF , 1928px 1816px #FFF , 169px 615px #FFF , 1505px 1004px #FFF , 1360px 1326px #FFF , 25px 1894px #FFF , 2066px 1356px #FFF , 2557px 1266px #FFF , 513px 724px #FFF , 1232px 1192px #FFF , 213px 1291px #FFF , 48px 1107px #FFF , 1893px 267px #FFF , 2110px 408px #FFF , 2088px 938px #FFF , 456px 467px #FFF , 1983px 1800px #FFF , 788px 1780px #FFF , 1390px 32px #FFF , 1556px 248px #FFF , 2060px 1774px #FFF , 149px 1897px #FFF , 284px 987px #FFF , 908px 804px #FFF , 2248px 944px #FFF , 2117px 729px #FFF , 85px 1620px #FFF , 1035px 539px #FFF , 2270px 8px #FFF , 2246px 700px #FFF , 1037px 1306px #FFF , 472px 1634px #FFF , 1744px 140px #FFF , 7px 1301px #FFF , 1350px 326px #FFF , 1399px 1624px #FFF , 292px 15px #FFF , 537px 634px #FFF , 1323px 1733px #FFF , 1661px 1338px #FFF , 1281px 1251px #FFF , 2344px 1928px #FFF , 70px 344px #FFF , 386px 1558px #FFF , 1337px 883px #FFF , 2529px 1679px #FFF , 856px 1600px #FFF , 2060px 1924px #FFF , 2488px 1032px #FFF , 1523px 1150px #FFF , 1243px 1472px #FFF , 807px 1165px #FFF , 1548px 461px #FFF , 780px 255px #FFF , 1864px 464px #FFF , 1314px 581px #FFF , 1000px 1103px #FFF , 2449px 850px #FFF , 1205px 195px #FFF , 2303px 1458px #FFF , 1607px 1948px #FFF , 1446px 1608px #FFF , 941px 93px #FFF , 819px 300px #FFF , 865px 1568px #FFF , 1692px 1797px #FFF , 1658px 1278px #FFF , 1974px 1961px #FFF , 2079px 1935px #FFF , 507px 494px #FFF , 1666px 818px #FFF , 232px 1418px #FFF , 2012px 1261px #FFF , 562px 1691px #FFF , 635px 1611px #FFF , 2559px 1814px #FFF , 57px 28px #FFF , 2145px 1240px #FFF , 198px 1935px #FFF , 1529px 267px #FFF , 1872px 1085px #FFF , 1428px 1149px #FFF , 1021px 1286px #FFF , 1814px 899px #FFF , 1933px 1605px #FFF , 1464px 1028px #FFF , 189px 580px #FFF , 1096px 618px #FFF , 2371px 1178px #FFF , 1974px 1542px #FFF , 2509px 731px #FFF , 1521px 151px #FFF , 2244px 1279px #FFF , 618px 834px #FFF , 1146px 551px #FFF , 2233px 1382px #FFF , 551px 609px #FFF , 91px 298px #FFF , 2387px 480px #FFF , 1357px 184px #FFF , 2521px 1546px #FFF , 1828px 366px #FFF , 98px 472px #FFF , 1217px 1199px #FFF , 624px 1999px #FFF , 1778px 624px #FFF , 1002px 339px #FFF , 2118px 410px #FFF , 1277px 1616px #FFF , 2115px 1268px #FFF , 862px 1678px #FFF , 2586px 700px #FFF , 1954px 731px #FFF , 1979px 1105px #FFF , 838px 1450px #FFF , 472px 424px #FFF , 1685px 1307px #FFF , 2234px 357px #FFF , 269px 1392px #FFF , 62px 573px #FFF , 1535px 442px #FFF , 158px 310px #FFF , 204px 1055px #FFF , 1012px 1066px #FFF , 2417px 1676px #FFF , 1353px 127px #FFF , 342px 1316px #FFF , 801px 361px #FFF , 2502px 995px #FFF , 441px 231px #FFF , 1584px 604px #FFF , 2284px 376px #FFF , 1327px 143px #FFF , 2456px 1118px #FFF , 1498px 968px #FFF , 2545px 36px #FFF , 493px 163px #FFF , 2373px 297px #FFF , 2101px 298px #FFF , 595px 444px #FFF , 2518px 1067px #FFF , 1881px 1252px #FFF , 610px 836px #FFF , 2463px 1537px #FFF , 2132px 144px #FFF , 2018px 1061px #FFF , 1522px 215px #FFF , 1090px 1643px #FFF , 2600px 1526px #FFF , 943px 55px #FFF , 2556px 1941px #FFF , 572px 1565px #FFF , 959px 544px #FFF , 518px 1699px #FFF , 2546px 1368px #FFF , 1299px 224px #FFF , 103px 985px #FFF , 1981px 1347px #FFF , 67px 630px #FFF , 2185px 1609px #FFF , 542px 1102px #FFF , 752px 1110px #FFF , 1933px 334px #FFF , 1246px 570px #FFF , 775px 613px #FFF , 2361px 422px #FFF , 341px 134px #FFF , 29px 1046px #FFF , 2109px 1013px #FFF , 764px 1415px #FFF , 511px 1215px #FFF , 2237px 56px #FFF , 2279px 474px #FFF , 1228px 269px #FFF , 1360px 1103px #FFF , 574px 654px #FFF , 2396px 538px #FFF , 89px 1482px #FFF , 1507px 1072px #FFF , 648px 296px #FFF , 415px 880px #FFF , 1339px 1068px #FFF , 2263px 158px #FFF , 1209px 1532px #FFF , 1965px 1683px #FFF , 639px 1043px #FFF , 1173px 918px #FFF , 125px 785px #FFF , 313px 1933px #FFF , 1856px 413px #FFF , 521px 132px #FFF , 783px 782px #FFF , 643px 1857px #FFF , 2373px 1855px #FFF , 2515px 1748px #FFF , 427px 194px #FFF , 2559px 1056px #FFF , 2197px 1942px #FFF , 2324px 1746px #FFF , 279px 828px #FFF , 537px 1816px #FFF , 2300px 1456px #FFF , 2325px 804px #FFF , 128px 459px #FFF , 2537px 1986px #FFF , 2339px 339px #FFF , 1695px 1392px #FFF , 908px 1299px #FFF , 928px 936px #FFF , 1740px 646px #FFF , 389px 487px #FFF , 1880px 603px #FFF , 153px 1579px #FFF , 291px 505px #FFF , 644px 348px #FFF , 606px 201px #FFF , 944px 997px #FFF , 1495px 1034px #FFF , 1832px 1271px #FFF , 934px 970px #FFF , 1321px 512px #FFF , 80px 1739px #FFF , 2380px 1144px #FFF , 156px 1529px #FFF , 756px 275px #FFF , 2070px 933px #FFF , 644px 1410px #FFF , 803px 1758px #FFF , 2228px 642px #FFF , 716px 583px #FFF , 2235px 248px #FFF , 532px 125px #FFF , 1460px 303px #FFF , 198px 1449px #FFF , 2154px 562px #FFF , 1028px 149px #FFF , 1818px 835px #FFF , 5px 650px #FFF , 1502px 1811px #FFF , 2134px 1401px #FFF , 2214px 1021px #FFF , 2323px 783px #FFF , 888px 1469px #FFF , 2136px 1068px #FFF , 2599px 1584px #FFF , 1045px 1742px #FFF , 796px 1106px #FFF , 2025px 726px #FFF , 1434px 1904px #FFF , 2282px 1568px #FFF , 222px 1799px #FFF , 860px 1931px #FFF , 453px 1180px #FFF , 1166px 772px #FFF , 2497px 1618px #FFF , 2403px 664px #FFF , 1954px 920px #FFF , 2466px 347px #FFF , 500px 1210px #FFF , 1603px 1573px #FFF , 1477px 926px #FFF , 2385px 41px #FFF , 1031px 1897px #FFF , 2504px 781px #FFF , 1623px 514px #FFF , 180px 1404px #FFF , 2521px 597px #FFF , 2228px 683px #FFF , 1454px 201px #FFF , 1492px 1934px #FFF , 130px 55px #FFF , 2424px 765px #FFF , 134px 90px #FFF , 1070px 1796px #FFF , 1075px 1216px #FFF , 545px 476px #FFF , 742px 1824px #FFF , 25px 1251px #FFF , 1447px 1867px #FFF , 2165px 1807px #FFF , 2053px 1374px #FFF , 1444px 1176px #FFF , 424px 1281px #FFF , 445px 1612px #FFF , 2435px 644px #FFF , 140px 308px #FFF , 1144px 481px #FFF , 2302px 704px #FFF , 255px 1915px #FFF , 1974px 541px #FFF , 1512px 359px #FFF , 2599px 929px #FFF , 2464px 109px #FFF , 1081px 1463px #FFF , 2357px 1628px #FFF , 2194px 1040px #FFF , 1083px 1318px #FFF , 451px 992px #FFF , 1041px 314px #FFF , 1292px 1285px #FFF , 472px 1314px #FFF , 611px 546px #FFF , 2370px 633px #FFF , 1276px 1272px #FFF , 1494px 1671px #FFF , 1614px 1389px #FFF , 452px 243px #FFF , 2219px 1056px #FFF , 2364px 858px #FFF , 1107px 1592px #FFF , 1127px 1724px #FFF , 146px 78px #FFF , 690px 1253px #FFF , 1168px 1943px #FFF , 688px 1666px #FFF , 1135px 134px #FFF , 1560px 1674px #FFF , 717px 1088px #FFF , 1387px 1544px #FFF , 300px 1015px #FFF , 510px 1581px #FFF , 1287px 933px #FFF , 1745px 931px #FFF , 2199px 1709px #FFF , 215px 306px #FFF , 698px 293px #FFF , 1364px 185px #FFF , 1288px 109px #FFF , 1370px 436px #FFF , 1662px 153px #FFF , 1011px 114px #FFF , 438px 356px #FFF , 781px 944px #FFF , 838px 363px #FFF , 1800px 670px #FFF , 1473px 1553px #FFF , 441px 1903px #FFF , 1566px 504px #FFF , 567px 1632px #FFF , 1497px 800px #FFF , 1792px 1888px #FFF , 1402px 1326px #FFF , 412px 1253px #FFF , 1037px 1097px #FFF , 2530px 1711px #FFF , 2013px 615px #FFF , 652px 1831px #FFF , 2590px 1186px #FFF , 1571px 1656px #FFF , 1012px 1591px #FFF , 929px 550px #FFF , 2245px 1721px #FFF , 414px 575px #FFF , 2406px 872px #FFF , 187px 1643px #FFF , 1348px 379px #FFF , 1035px 1019px #FFF , 2452px 865px #FFF , 133px 1773px #FFF , 1793px 237px #FFF , 967px 151px #FFF , 424px 237px #FFF , 1889px 566px #FFF , 630px 1263px #FFF , 1737px 1395px #FFF , 199px 848px #FFF , 1986px 1678px #FFF , 557px 1074px #FFF , 370px 874px #FFF , 2081px 1736px #FFF , 1487px 1694px #FFF , 1802px 1699px #FFF , 2379px 1942px #FFF , 2315px 489px #FFF , 312px 1576px #FFF , 2087px 1492px #FFF , 2433px 1890px #FFF , 65px 628px #FFF , 1624px 487px #FFF , 240px 862px #FFF , 192px 1220px #FFF , 1677px 1212px #FFF , 936px 1428px #FFF , 1154px 866px #FFF , 759px 1189px #FFF , 2271px 299px #FFF , 1772px 272px #FFF , 1636px 1530px #FFF , 1865px 159px #FFF , 327px 119px #FFF , 2232px 1554px #FFF , 1483px 1376px #FFF , 1589px 458px #FFF , 44px 23px #FFF , 795px 1756px #FFF , 1310px 1959px #FFF , 1241px 315px #FFF , 1539px 1977px #FFF , 1904px 376px #FFF , 1188px 656px #FFF , 869px 99px #FFF , 1754px 1940px #FFF , 2368px 233px #FFF , 1171px 1132px #FFF , 1861px 1069px #FFF , 2567px 648px #FFF , 1031px 483px #FFF , 2399px 1095px #FFF , 1988px 514px #FFF , 1426px 1139px #FFF , 1752px 497px #FFF , 995px 188px #FFF , 140px 1734px #FFF , 1257px 1469px #FFF , 1754px 547px #FFF , 2099px 209px #FFF , 407px 1058px #FFF , 1806px 1368px #FFF , 280px 1233px #FFF , 438px 1285px #FFF , 254px 81px #FFF , 1978px 1507px #FFF , 824px 1415px #FFF , 60px 1774px #FFF , 66px 1100px #FFF , 972px 1018px #FFF , 1198px 784px #FFF , 710px 1566px #FFF , 1773px 838px #FFF , 2423px 1927px #FFF , 743px 1641px #FFF , 2261px 1407px #FFF , 1626px 1260px #FFF , 1774px 1165px #FFF , 1808px 746px #FFF , 2348px 892px #FFF , 1567px 1892px #FFF , 1016px 46px #FFF , 1916px 361px #FFF , 769px 550px #FFF , 888px 219px #FFF , 1462px 1250px #FFF , 1238px 554px #FFF , 2341px 996px #FFF , 1746px 1991px #FFF , 1663px 62px #FFF , 1779px 603px #FFF , 562px 1554px #FFF , 1347px 411px #FFF , 2016px 104px #FFF , 1298px 572px #FFF , 1499px 333px #FFF , 1724px 791px #FFF , 2495px 886px #FFF , 2020px 672px #FFF , 337px 366px #FFF , 781px 254px #FFF , 1701px 1465px #FFF , 896px 330px #FFF , 2065px 1338px #FFF , 2348px 1376px #FFF , 1496px 1098px #FFF , 1399px 558px #FFF , 2600px 220px #FFF , 2591px 1814px #FFF , 1006px 1527px #FFF , 300px 1424px #FFF , 1435px 423px #FFF , 2221px 193px #FFF , 831px 718px #FFF , 1113px 78px #FFF , 659px 845px #FFF , 175px 1690px #FFF , 2599px 1716px #FFF , 2342px 1367px #FFF , 1010px 1429px #FFF , 1530px 252px #FFF , 1592px 1071px #FFF , 2247px 462px #FFF , 1568px 1491px #FFF , 1011px 153px #FFF , 1234px 82px #FFF , 425px 1225px #FFF , 6px 728px #FFF , 271px 452px #FFF , 2594px 567px #FFF , 1337px 1386px #FFF , 411px 47px #FFF , 148px 1782px #FFF , 689px 417px #FFF , 1236px 39px #FFF , 727px 374px #FFF , 1045px 1661px #FFF , 880px 243px #FFF , 2283px 533px #FFF , 91px 1154px #FFF , 928px 826px #FFF , 674px 1276px #FFF , 1390px 358px #FFF , 661px 1599px #FFF , 558px 1036px #FFF , 2277px 1639px #FFF , 1840px 1930px #FFF , 1007px 227px #FFF , 2504px 515px #FFF , 823px 188px #FFF , 1050px 1890px #FFF , 1997px 208px #FFF , 1076px 1030px #FFF , 1434px 1325px #FFF , 2241px 149px #FFF , 2433px 861px #FFF , 1614px 1067px #FFF , 1501px 1338px #FFF , 1065px 1936px #FFF , 1165px 298px #FFF , 1437px 869px #FFF , 2435px 1423px #FFF , 1940px 339px #FFF , 91px 1617px #FFF , 1152px 493px #FFF , 2533px 1857px #FFF , 770px 1479px #FFF , 1478px 1926px #FFF , 2097px 1542px #FFF , 1920px 646px #FFF , 92px 1326px #FFF , 121px 238px #FFF , 437px 552px #FFF , 1029px 67px #FFF , 1443px 551px #FFF , 1475px 1182px #FFF , 1745px 898px #FFF , 1324px 756px #FFF , 497px 1000px #FFF , 2408px 1495px #FFF , 219px 1149px #FFF , 2391px 684px #FFF , 1803px 790px #FFF , 297px 634px #FFF , 810px 848px #FFF , 1683px 1405px #FFF , 95px 42px #FFF , 2336px 980px #FFF , 395px 1935px #FFF , 2221px 1394px #FFF , 793px 1879px #FFF , 1641px 121px #FFF , 2017px 216px #FFF , 1671px 23px #FFF , 211px 1879px #FFF , 2377px 1672px #FFF , 1563px 6px #FFF , 1952px 1246px #FFF , 16px 662px #FFF , 1898px 1479px #FFF , 781px 1412px #FFF , 2298px 73px #FFF , 1601px 459px #FFF , 1190px 567px #FFF , 668px 1461px #FFF , 394px 270px #FFF , 279px 284px #FFF , 2px 598px #FFF , 1483px 965px #FFF , 155px 1312px #FFF , 390px 1471px #FFF , 1597px 558px #FFF , 1624px 207px #FFF , 1900px 1239px #FFF , 1317px 1823px #FFF , 328px 193px #FFF , 185px 96px #FFF , 1998px 1629px #FFF , 2113px 808px #FFF , 1758px 1477px #FFF , 1212px 1212px #FFF , 790px 74px #FFF , 1891px 1216px #FFF , 1128px 509px #FFF , 2063px 775px #FFF , 1034px 370px #FFF , 1013px 363px #FFF , 1344px 660px #FFF , 1430px 855px #FFF , 1398px 1044px #FFF , 2346px 378px #FFF , 864px 117px #FFF , 1855px 1991px #FFF , 360px 1247px #FFF , 2557px 732px #FFF , 2396px 1684px #FFF , 2445px 945px #FFF , 183px 1243px #FFF , 759px 1775px #FFF , 1892px 36px #FFF , 344px 806px #FFF , 2201px 997px #FFF , 2598px 970px #FFF , 1869px 210px #FFF , 2599px 1887px #FFF , 1878px 925px #FFF , 323px 1329px #FFF , 980px 915px #FFF , 1779px 1983px #FFF , 142px 1339px #FFF , 696px 550px #FFF , 863px 891px #FFF , 367px 1141px #FFF , 1299px 860px #FFF , 2321px 1479px #FFF , 244px 1975px #FFF , 2143px 1955px #FFF , 2535px 1363px #FFF , 582px 254px #FFF , 380px 1402px #FFF , 1079px 942px #FFF , 348px 925px #FFF , 1379px 1254px #FFF , 812px 685px #FFF , 1596px 797px #FFF , 247px 1942px #FFF , 690px 806px #FFF , 2229px 528px #FFF , 1661px 804px #FFF , 807px 1095px #FFF , 9px 795px #FFF , 799px 1900px #FFF , 480px 1439px #FFF , 2330px 854px #FFF , 1175px 974px #FFF , 181px 1457px #FFF , 1739px 1122px #FFF , 79px 1442px #FFF , 485px 1901px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1308px 601px #FFF , 454px 943px #FFF , 1336px 496px #FFF , 1285px 1070px #FFF , 1531px 488px #FFF , 2067px 1407px #FFF , 743px 1040px #FFF , 148px 1145px #FFF , 354px 1286px #FFF , 1113px 1523px #FFF , 2438px 897px #FFF , 1895px 498px #FFF , 75px 1016px #FFF , 454px 398px #FFF , 1748px 144px #FFF , 1729px 1441px #FFF , 2363px 1199px #FFF , 1067px 1132px #FFF , 1140px 674px #FFF , 1519px 1255px #FFF , 898px 263px #FFF , 677px 8px #FFF , 474px 333px #FFF , 104px 107px #FFF , 1659px 506px #FFF , 976px 1772px #FFF , 419px 1095px #FFF , 198px 1352px #FFF , 174px 1661px #FFF , 2538px 1387px #FFF , 2183px 679px #FFF , 2587px 873px #FFF , 1618px 1728px #FFF , 1090px 488px #FFF , 2117px 624px #FFF , 1807px 636px #FFF , 711px 1164px #FFF , 1553px 146px #FFF , 128px 1104px #FFF , 2262px 1539px #FFF , 2570px 581px #FFF , 2461px 559px #FFF , 2118px 1290px #FFF , 2499px 1837px #FFF , 984px 499px #FFF , 389px 1551px #FFF , 334px 540px #FFF , 1056px 713px #FFF , 181px 552px #FFF , 2383px 81px #FFF , 2530px 1926px #FFF , 695px 562px #FFF , 1374px 1744px #FFF , 419px 207px #FFF , 1597px 1318px #FFF , 904px 1885px #FFF , 774px 1557px #FFF , 931px 951px #FFF , 2103px 1159px #FFF , 35px 442px #FFF , 2452px 1169px #FFF , 1683px 1001px #FFF , 1536px 666px #FFF , 1923px 363px #FFF , 1766px 816px #FFF , 2428px 1074px #FFF , 1928px 1816px #FFF , 169px 615px #FFF , 1505px 1004px #FFF , 1360px 1326px #FFF , 25px 1894px #FFF , 2066px 1356px #FFF , 2557px 1266px #FFF , 513px 724px #FFF , 1232px 1192px #FFF , 213px 1291px #FFF , 48px 1107px #FFF , 1893px 267px #FFF , 2110px 408px #FFF , 2088px 938px #FFF , 456px 467px #FFF , 1983px 1800px #FFF , 788px 1780px #FFF , 1390px 32px #FFF , 1556px 248px #FFF , 2060px 1774px #FFF , 149px 1897px #FFF , 284px 987px #FFF , 908px 804px #FFF , 2248px 944px #FFF , 2117px 729px #FFF , 85px 1620px #FFF , 1035px 539px #FFF , 2270px 8px #FFF , 2246px 700px #FFF , 1037px 1306px #FFF , 472px 1634px #FFF , 1744px 140px #FFF , 7px 1301px #FFF , 1350px 326px #FFF , 1399px 1624px #FFF , 292px 15px #FFF , 537px 634px #FFF , 1323px 1733px #FFF , 1661px 1338px #FFF , 1281px 1251px #FFF , 2344px 1928px #FFF , 70px 344px #FFF , 386px 1558px #FFF , 1337px 883px #FFF , 2529px 1679px #FFF , 856px 1600px #FFF , 2060px 1924px #FFF , 2488px 1032px #FFF , 1523px 1150px #FFF , 1243px 1472px #FFF , 807px 1165px #FFF , 1548px 461px #FFF , 780px 255px #FFF , 1864px 464px #FFF , 1314px 581px #FFF , 1000px 1103px #FFF , 2449px 850px #FFF , 1205px 195px #FFF , 2303px 1458px #FFF , 1607px 1948px #FFF , 1446px 1608px #FFF , 941px 93px #FFF , 819px 300px #FFF , 865px 1568px #FFF , 1692px 1797px #FFF , 1658px 1278px #FFF , 1974px 1961px #FFF , 2079px 1935px #FFF , 507px 494px #FFF , 1666px 818px #FFF , 232px 1418px #FFF , 2012px 1261px #FFF , 562px 1691px #FFF , 635px 1611px #FFF , 2559px 1814px #FFF , 57px 28px #FFF , 2145px 1240px #FFF , 198px 1935px #FFF , 1529px 267px #FFF , 1872px 1085px #FFF , 1428px 1149px #FFF , 1021px 1286px #FFF , 1814px 899px #FFF , 1933px 1605px #FFF , 1464px 1028px #FFF , 189px 580px #FFF , 1096px 618px #FFF , 2371px 1178px #FFF , 1974px 1542px #FFF , 2509px 731px #FFF , 1521px 151px #FFF , 2244px 1279px #FFF , 618px 834px #FFF , 1146px 551px #FFF , 2233px 1382px #FFF , 551px 609px #FFF , 91px 298px #FFF , 2387px 480px #FFF , 1357px 184px #FFF , 2521px 1546px #FFF , 1828px 366px #FFF , 98px 472px #FFF , 1217px 1199px #FFF , 624px 1999px #FFF , 1778px 624px #FFF , 1002px 339px #FFF , 2118px 410px #FFF , 1277px 1616px #FFF , 2115px 1268px #FFF , 862px 1678px #FFF , 2586px 700px #FFF , 1954px 731px #FFF , 1979px 1105px #FFF , 838px 1450px #FFF , 472px 424px #FFF , 1685px 1307px #FFF , 2234px 357px #FFF , 269px 1392px #FFF , 62px 573px #FFF , 1535px 442px #FFF , 158px 310px #FFF , 204px 1055px #FFF , 1012px 1066px #FFF , 2417px 1676px #FFF , 1353px 127px #FFF , 342px 1316px #FFF , 801px 361px #FFF , 2502px 995px #FFF , 441px 231px #FFF , 1584px 604px #FFF , 2284px 376px #FFF , 1327px 143px #FFF , 2456px 1118px #FFF , 1498px 968px #FFF , 2545px 36px #FFF , 493px 163px #FFF , 2373px 297px #FFF , 2101px 298px #FFF , 595px 444px #FFF , 2518px 1067px #FFF , 1881px 1252px #FFF , 610px 836px #FFF , 2463px 1537px #FFF , 2132px 144px #FFF , 2018px 1061px #FFF , 1522px 215px #FFF , 1090px 1643px #FFF , 2600px 1526px #FFF , 943px 55px #FFF , 2556px 1941px #FFF , 572px 1565px #FFF , 959px 544px #FFF , 518px 1699px #FFF , 2546px 1368px #FFF , 1299px 224px #FFF , 103px 985px #FFF , 1981px 1347px #FFF , 67px 630px #FFF , 2185px 1609px #FFF , 542px 1102px #FFF , 752px 1110px #FFF , 1933px 334px #FFF , 1246px 570px #FFF , 775px 613px #FFF , 2361px 422px #FFF , 341px 134px #FFF , 29px 1046px #FFF , 2109px 1013px #FFF , 764px 1415px #FFF , 511px 1215px #FFF , 2237px 56px #FFF , 2279px 474px #FFF , 1228px 269px #FFF , 1360px 1103px #FFF , 574px 654px #FFF , 2396px 538px #FFF , 89px 1482px #FFF , 1507px 1072px #FFF , 648px 296px #FFF , 415px 880px #FFF , 1339px 1068px #FFF , 2263px 158px #FFF , 1209px 1532px #FFF , 1965px 1683px #FFF , 639px 1043px #FFF , 1173px 918px #FFF , 125px 785px #FFF , 313px 1933px #FFF , 1856px 413px #FFF , 521px 132px #FFF , 783px 782px #FFF , 643px 1857px #FFF , 2373px 1855px #FFF , 2515px 1748px #FFF , 427px 194px #FFF , 2559px 1056px #FFF , 2197px 1942px #FFF , 2324px 1746px #FFF , 279px 828px #FFF , 537px 1816px #FFF , 2300px 1456px #FFF , 2325px 804px #FFF , 128px 459px #FFF , 2537px 1986px #FFF , 2339px 339px #FFF , 1695px 1392px #FFF , 908px 1299px #FFF , 928px 936px #FFF , 1740px 646px #FFF , 389px 487px #FFF , 1880px 603px #FFF , 153px 1579px #FFF , 291px 505px #FFF , 644px 348px #FFF , 606px 201px #FFF , 944px 997px #FFF , 1495px 1034px #FFF , 1832px 1271px #FFF , 934px 970px #FFF , 1321px 512px #FFF , 80px 1739px #FFF , 2380px 1144px #FFF , 156px 1529px #FFF , 756px 275px #FFF , 2070px 933px #FFF , 644px 1410px #FFF , 803px 1758px #FFF , 2228px 642px #FFF , 716px 583px #FFF , 2235px 248px #FFF , 532px 125px #FFF , 1460px 303px #FFF , 198px 1449px #FFF , 2154px 562px #FFF , 1028px 149px #FFF , 1818px 835px #FFF , 5px 650px #FFF , 1502px 1811px #FFF , 2134px 1401px #FFF , 2214px 1021px #FFF , 2323px 783px #FFF , 888px 1469px #FFF , 2136px 1068px #FFF , 2599px 1584px #FFF , 1045px 1742px #FFF , 796px 1106px #FFF , 2025px 726px #FFF , 1434px 1904px #FFF , 2282px 1568px #FFF , 222px 1799px #FFF , 860px 1931px #FFF , 453px 1180px #FFF , 1166px 772px #FFF , 2497px 1618px #FFF , 2403px 664px #FFF , 1954px 920px #FFF , 2466px 347px #FFF , 500px 1210px #FFF , 1603px 1573px #FFF , 1477px 926px #FFF , 2385px 41px #FFF , 1031px 1897px #FFF , 2504px 781px #FFF , 1623px 514px #FFF , 180px 1404px #FFF , 2521px 597px #FFF , 2228px 683px #FFF , 1454px 201px #FFF , 1492px 1934px #FFF , 130px 55px #FFF , 2424px 765px #FFF , 134px 90px #FFF , 1070px 1796px #FFF , 1075px 1216px #FFF , 545px 476px #FFF , 742px 1824px #FFF , 25px 1251px #FFF , 1447px 1867px #FFF , 2165px 1807px #FFF , 2053px 1374px #FFF , 1444px 1176px #FFF , 424px 1281px #FFF , 445px 1612px #FFF , 2435px 644px #FFF , 140px 308px #FFF , 1144px 481px #FFF , 2302px 704px #FFF , 255px 1915px #FFF , 1974px 541px #FFF , 1512px 359px #FFF , 2599px 929px #FFF , 2464px 109px #FFF , 1081px 1463px #FFF , 2357px 1628px #FFF , 2194px 1040px #FFF , 1083px 1318px #FFF , 451px 992px #FFF , 1041px 314px #FFF , 1292px 1285px #FFF , 472px 1314px #FFF , 611px 546px #FFF , 2370px 633px #FFF , 1276px 1272px #FFF , 1494px 1671px #FFF , 1614px 1389px #FFF , 452px 243px #FFF , 2219px 1056px #FFF , 2364px 858px #FFF , 1107px 1592px #FFF , 1127px 1724px #FFF , 146px 78px #FFF , 690px 1253px #FFF , 1168px 1943px #FFF , 688px 1666px #FFF , 1135px 134px #FFF , 1560px 1674px #FFF , 717px 1088px #FFF , 1387px 1544px #FFF , 300px 1015px #FFF , 510px 1581px #FFF , 1287px 933px #FFF , 1745px 931px #FFF , 2199px 1709px #FFF , 215px 306px #FFF , 698px 293px #FFF , 1364px 185px #FFF , 1288px 109px #FFF , 1370px 436px #FFF , 1662px 153px #FFF , 1011px 114px #FFF , 438px 356px #FFF , 781px 944px #FFF , 838px 363px #FFF , 1800px 670px #FFF , 1473px 1553px #FFF , 441px 1903px #FFF , 1566px 504px #FFF , 567px 1632px #FFF , 1497px 800px #FFF , 1792px 1888px #FFF , 1402px 1326px #FFF , 412px 1253px #FFF , 1037px 1097px #FFF , 2530px 1711px #FFF , 2013px 615px #FFF , 652px 1831px #FFF , 2590px 1186px #FFF , 1571px 1656px #FFF , 1012px 1591px #FFF , 929px 550px #FFF , 2245px 1721px #FFF , 414px 575px #FFF , 2406px 872px #FFF , 187px 1643px #FFF , 1348px 379px #FFF , 1035px 1019px #FFF , 2452px 865px #FFF , 133px 1773px #FFF , 1793px 237px #FFF , 967px 151px #FFF , 424px 237px #FFF , 1889px 566px #FFF , 630px 1263px #FFF , 1737px 1395px #FFF , 199px 848px #FFF , 1986px 1678px #FFF , 557px 1074px #FFF , 370px 874px #FFF , 2081px 1736px #FFF , 1487px 1694px #FFF , 1802px 1699px #FFF , 2379px 1942px #FFF , 2315px 489px #FFF , 312px 1576px #FFF , 2087px 1492px #FFF , 2433px 1890px #FFF , 65px 628px #FFF , 1624px 487px #FFF , 240px 862px #FFF , 192px 1220px #FFF , 1677px 1212px #FFF , 936px 1428px #FFF , 1154px 866px #FFF , 759px 1189px #FFF , 2271px 299px #FFF , 1772px 272px #FFF , 1636px 1530px #FFF , 1865px 159px #FFF , 327px 119px #FFF , 2232px 1554px #FFF , 1483px 1376px #FFF , 1589px 458px #FFF , 44px 23px #FFF , 795px 1756px #FFF , 1310px 1959px #FFF , 1241px 315px #FFF , 1539px 1977px #FFF , 1904px 376px #FFF , 1188px 656px #FFF , 869px 99px #FFF , 1754px 1940px #FFF , 2368px 233px #FFF , 1171px 1132px #FFF , 1861px 1069px #FFF , 2567px 648px #FFF , 1031px 483px #FFF , 2399px 1095px #FFF , 1988px 514px #FFF , 1426px 1139px #FFF , 1752px 497px #FFF , 995px 188px #FFF , 140px 1734px #FFF , 1257px 1469px #FFF , 1754px 547px #FFF , 2099px 209px #FFF , 407px 1058px #FFF , 1806px 1368px #FFF , 280px 1233px #FFF , 438px 1285px #FFF , 254px 81px #FFF , 1978px 1507px #FFF , 824px 1415px #FFF , 60px 1774px #FFF , 66px 1100px #FFF , 972px 1018px #FFF , 1198px 784px #FFF , 710px 1566px #FFF , 1773px 838px #FFF , 2423px 1927px #FFF , 743px 1641px #FFF , 2261px 1407px #FFF , 1626px 1260px #FFF , 1774px 1165px #FFF , 1808px 746px #FFF , 2348px 892px #FFF , 1567px 1892px #FFF , 1016px 46px #FFF , 1916px 361px #FFF , 769px 550px #FFF , 888px 219px #FFF , 1462px 1250px #FFF , 1238px 554px #FFF , 2341px 996px #FFF , 1746px 1991px #FFF , 1663px 62px #FFF , 1779px 603px #FFF , 562px 1554px #FFF , 1347px 411px #FFF , 2016px 104px #FFF , 1298px 572px #FFF , 1499px 333px #FFF , 1724px 791px #FFF , 2495px 886px #FFF , 2020px 672px #FFF , 337px 366px #FFF , 781px 254px #FFF , 1701px 1465px #FFF , 896px 330px #FFF , 2065px 1338px #FFF , 2348px 1376px #FFF , 1496px 1098px #FFF , 1399px 558px #FFF , 2600px 220px #FFF , 2591px 1814px #FFF , 1006px 1527px #FFF , 300px 1424px #FFF , 1435px 423px #FFF , 2221px 193px #FFF , 831px 718px #FFF , 1113px 78px #FFF , 659px 845px #FFF , 175px 1690px #FFF , 2599px 1716px #FFF , 2342px 1367px #FFF , 1010px 1429px #FFF , 1530px 252px #FFF , 1592px 1071px #FFF , 2247px 462px #FFF , 1568px 1491px #FFF , 1011px 153px #FFF , 1234px 82px #FFF , 425px 1225px #FFF , 6px 728px #FFF , 271px 452px #FFF , 2594px 567px #FFF , 1337px 1386px #FFF , 411px 47px #FFF , 148px 1782px #FFF , 689px 417px #FFF , 1236px 39px #FFF , 727px 374px #FFF , 1045px 1661px #FFF , 880px 243px #FFF , 2283px 533px #FFF , 91px 1154px #FFF , 928px 826px #FFF , 674px 1276px #FFF , 1390px 358px #FFF , 661px 1599px #FFF , 558px 1036px #FFF , 2277px 1639px #FFF , 1840px 1930px #FFF , 1007px 227px #FFF , 2504px 515px #FFF , 823px 188px #FFF , 1050px 1890px #FFF , 1997px 208px #FFF , 1076px 1030px #FFF , 1434px 1325px #FFF , 2241px 149px #FFF , 2433px 861px #FFF , 1614px 1067px #FFF , 1501px 1338px #FFF , 1065px 1936px #FFF , 1165px 298px #FFF , 1437px 869px #FFF , 2435px 1423px #FFF , 1940px 339px #FFF , 91px 1617px #FFF , 1152px 493px #FFF , 2533px 1857px #FFF , 770px 1479px #FFF , 1478px 1926px #FFF , 2097px 1542px #FFF , 1920px 646px #FFF , 92px 1326px #FFF , 121px 238px #FFF , 437px 552px #FFF , 1029px 67px #FFF , 1443px 551px #FFF , 1475px 1182px #FFF , 1745px 898px #FFF , 1324px 756px #FFF , 497px 1000px #FFF , 2408px 1495px #FFF , 219px 1149px #FFF , 2391px 684px #FFF , 1803px 790px #FFF , 297px 634px #FFF , 810px 848px #FFF , 1683px 1405px #FFF , 95px 42px #FFF , 2336px 980px #FFF , 395px 1935px #FFF , 2221px 1394px #FFF , 793px 1879px #FFF , 1641px 121px #FFF , 2017px 216px #FFF , 1671px 23px #FFF , 211px 1879px #FFF , 2377px 1672px #FFF , 1563px 6px #FFF , 1952px 1246px #FFF , 16px 662px #FFF , 1898px 1479px #FFF , 781px 1412px #FFF , 2298px 73px #FFF , 1601px 459px #FFF , 1190px 567px #FFF , 668px 1461px #FFF , 394px 270px #FFF , 279px 284px #FFF , 2px 598px #FFF , 1483px 965px #FFF , 155px 1312px #FFF , 390px 1471px #FFF , 1597px 558px #FFF , 1624px 207px #FFF , 1900px 1239px #FFF , 1317px 1823px #FFF , 328px 193px #FFF , 185px 96px #FFF , 1998px 1629px #FFF , 2113px 808px #FFF , 1758px 1477px #FFF , 1212px 1212px #FFF , 790px 74px #FFF , 1891px 1216px #FFF , 1128px 509px #FFF , 2063px 775px #FFF , 1034px 370px #FFF , 1013px 363px #FFF , 1344px 660px #FFF , 1430px 855px #FFF , 1398px 1044px #FFF , 2346px 378px #FFF , 864px 117px #FFF , 1855px 1991px #FFF , 360px 1247px #FFF , 2557px 732px #FFF , 2396px 1684px #FFF , 2445px 945px #FFF , 183px 1243px #FFF , 759px 1775px #FFF , 1892px 36px #FFF , 344px 806px #FFF , 2201px 997px #FFF , 2598px 970px #FFF , 1869px 210px #FFF , 2599px 1887px #FFF , 1878px 925px #FFF , 323px 1329px #FFF , 980px 915px #FFF , 1779px 1983px #FFF , 142px 1339px #FFF , 696px 550px #FFF , 863px 891px #FFF , 367px 1141px #FFF , 1299px 860px #FFF , 2321px 1479px #FFF , 244px 1975px #FFF , 2143px 1955px #FFF , 2535px 1363px #FFF , 582px 254px #FFF , 380px 1402px #FFF , 1079px 942px #FFF , 348px 925px #FFF , 1379px 1254px #FFF , 812px 685px #FFF , 1596px 797px #FFF , 247px 1942px #FFF , 690px 806px #FFF , 2229px 528px #FFF , 1661px 804px #FFF , 807px 1095px #FFF , 9px 795px #FFF , 799px 1900px #FFF , 480px 1439px #FFF , 2330px 854px #FFF , 1175px 974px #FFF , 181px 1457px #FFF , 1739px 1122px #FFF , 79px 1442px #FFF , 485px 1901px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1170px 719px #FFF , 1388px 628px #FFF , 1509px 1983px #FFF , 2203px 1651px #FFF , 1110px 827px #FFF , 2047px 1192px #FFF , 1683px 1596px #FFF , 1299px 1539px #FFF , 315px 1448px #FFF , 2435px 1841px #FFF , 2148px 1593px #FFF , 1202px 256px #FFF , 2500px 1744px #FFF , 1517px 76px #FFF , 2179px 1733px #FFF , 801px 1686px #FFF , 626px 1695px #FFF , 1164px 120px #FFF , 628px 1204px #FFF , 60px 1577px #FFF , 301px 1652px #FFF , 1072px 739px #FFF , 337px 582px #FFF , 2591px 2000px #FFF , 1766px 1808px #FFF , 1633px 1188px #FFF , 638px 1194px #FFF , 232px 356px #FFF , 2171px 1430px #FFF , 661px 1148px #FFF , 1004px 558px #FFF , 1399px 217px #FFF , 2465px 1896px #FFF , 1791px 744px #FFF , 1367px 1282px #FFF , 1840px 692px #FFF , 418px 1816px #FFF , 1843px 1521px #FFF , 976px 628px #FFF , 1599px 1674px #FFF , 2038px 1772px #FFF , 347px 205px #FFF , 935px 645px #FFF , 1723px 1659px #FFF , 1164px 749px #FFF , 2355px 974px #FFF , 237px 976px #FFF , 2210px 1508px #FFF , 795px 1638px #FFF , 78px 965px #FFF , 1674px 1576px #FFF , 1298px 1283px #FFF , 793px 1076px #FFF , 918px 1623px #FFF , 1980px 124px #FFF , 1093px 970px #FFF , 1237px 501px #FFF , 1628px 237px #FFF , 2556px 1011px #FFF , 55px 717px #FFF , 1172px 429px #FFF , 714px 138px #FFF , 27px 1364px #FFF , 874px 1905px #FFF , 394px 1152px #FFF , 1616px 1087px #FFF , 2560px 756px #FFF , 2404px 1967px #FFF , 1434px 94px #FFF , 2048px 1044px #FFF , 1813px 547px #FFF , 556px 232px #FFF , 39px 595px #FFF , 1294px 103px #FFF , 1277px 1414px #FFF , 1747px 631px #FFF , 1947px 1309px #FFF , 716px 1770px #FFF , 500px 784px #FFF , 344px 1752px #FFF , 1138px 1733px #FFF , 191px 797px #FFF , 1296px 1163px #FFF , 1367px 779px #FFF , 1482px 1526px #FFF , 51px 1565px #FFF , 948px 1737px #FFF , 80px 1616px #FFF , 1735px 1552px #FFF , 1571px 559px #FFF , 2470px 53px #FFF , 1343px 1475px #FFF , 98px 27px #FFF , 1352px 681px #FFF , 1398px 567px #FFF , 814px 1054px #FFF , 764px 16px #FFF , 946px 113px #FFF , 1557px 1684px #FFF , 175px 71px #FFF , 467px 841px #FFF , 2548px 547px #FFF , 1202px 1904px #FFF , 1411px 871px #FFF , 110px 696px #FFF , 1018px 795px #FFF , 1758px 154px #FFF , 631px 797px #FFF , 2329px 375px #FFF , 1609px 1503px #FFF , 879px 280px #FFF , 1090px 1701px #FFF , 1090px 1995px #FFF , 1960px 1724px #FFF , 1780px 230px #FFF , 1860px 1300px #FFF , 1377px 1365px #FFF , 132px 1160px #FFF , 1790px 1569px #FFF , 1517px 225px #FFF , 208px 1161px #FFF , 1174px 1281px #FFF , 1313px 1566px #FFF , 2028px 326px #FFF , 1206px 1136px #FFF , 1691px 608px #FFF , 1040px 1635px #FFF , 1951px 1018px #FFF , 1527px 1746px #FFF , 2438px 1325px #FFF , 202px 1202px #FFF , 1949px 524px #FFF , 251px 836px #FFF , 182px 1108px #FFF , 930px 154px #FFF , 1391px 1935px #FFF , 532px 1354px #FFF , 1982px 650px #FFF , 1537px 1059px #FFF , 99px 1502px #FFF , 1511px 1440px #FFF , 961px 1493px #FFF , 463px 562px #FFF , 652px 585px #FFF , 2568px 303px #FFF , 1980px 853px #FFF , 366px 1069px #FFF , 2271px 1055px #FFF , 1122px 900px #FFF , 520px 701px #FFF , 2234px 793px #FFF , 1086px 135px #FFF , 863px 629px #FFF , 2229px 834px #FFF , 1510px 1315px #FFF , 1814px 712px #FFF , 943px 284px #FFF , 2404px 338px #FFF , 452px 1831px #FFF , 420px 1896px #FFF , 1969px 581px #FFF , 581px 1701px #FFF , 25px 141px #FFF , 1643px 613px #FFF , 1680px 135px #FFF , 2378px 1142px #FFF , 1411px 1971px #FFF , 2203px 1487px #FFF , 1255px 1208px #FFF , 1079px 439px #FFF , 110px 204px #FFF , 1400px 1168px #FFF , 2441px 803px #FFF , 312px 873px #FFF , 687px 292px #FFF , 2369px 337px #FFF , 436px 1893px #FFF , 752px 674px #FFF , 89px 521px #FFF , 117px 1702px #FFF , 2004px 1507px #FFF , 837px 1001px #FFF , 967px 352px #FFF , 341px 873px #FFF , 443px 989px #FFF , 184px 210px #FFF , 2141px 1388px #FFF , 1910px 146px #FFF , 886px 303px #FFF , 2100px 1251px #FFF , 1834px 1201px #FFF , 1715px 1528px #FFF , 1481px 761px #FFF , 1430px 1344px #FFF , 1965px 1306px #FFF , 744px 1994px #FFF , 1250px 758px #FFF , 86px 1306px #FFF , 2398px 387px #FFF , 2211px 1123px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1170px 719px #FFF , 1388px 628px #FFF , 1509px 1983px #FFF , 2203px 1651px #FFF , 1110px 827px #FFF , 2047px 1192px #FFF , 1683px 1596px #FFF , 1299px 1539px #FFF , 315px 1448px #FFF , 2435px 1841px #FFF , 2148px 1593px #FFF , 1202px 256px #FFF , 2500px 1744px #FFF , 1517px 76px #FFF , 2179px 1733px #FFF , 801px 1686px #FFF , 626px 1695px #FFF , 1164px 120px #FFF , 628px 1204px #FFF , 60px 1577px #FFF , 301px 1652px #FFF , 1072px 739px #FFF , 337px 582px #FFF , 2591px 2000px #FFF , 1766px 1808px #FFF , 1633px 1188px #FFF , 638px 1194px #FFF , 232px 356px #FFF , 2171px 1430px #FFF , 661px 1148px #FFF , 1004px 558px #FFF , 1399px 217px #FFF , 2465px 1896px #FFF , 1791px 744px #FFF , 1367px 1282px #FFF , 1840px 692px #FFF , 418px 1816px #FFF , 1843px 1521px #FFF , 976px 628px #FFF , 1599px 1674px #FFF , 2038px 1772px #FFF , 347px 205px #FFF , 935px 645px #FFF , 1723px 1659px #FFF , 1164px 749px #FFF , 2355px 974px #FFF , 237px 976px #FFF , 2210px 1508px #FFF , 795px 1638px #FFF , 78px 965px #FFF , 1674px 1576px #FFF , 1298px 1283px #FFF , 793px 1076px #FFF , 918px 1623px #FFF , 1980px 124px #FFF , 1093px 970px #FFF , 1237px 501px #FFF , 1628px 237px #FFF , 2556px 1011px #FFF , 55px 717px #FFF , 1172px 429px #FFF , 714px 138px #FFF , 27px 1364px #FFF , 874px 1905px #FFF , 394px 1152px #FFF , 1616px 1087px #FFF , 2560px 756px #FFF , 2404px 1967px #FFF , 1434px 94px #FFF , 2048px 1044px #FFF , 1813px 547px #FFF , 556px 232px #FFF , 39px 595px #FFF , 1294px 103px #FFF , 1277px 1414px #FFF , 1747px 631px #FFF , 1947px 1309px #FFF , 716px 1770px #FFF , 500px 784px #FFF , 344px 1752px #FFF , 1138px 1733px #FFF , 191px 797px #FFF , 1296px 1163px #FFF , 1367px 779px #FFF , 1482px 1526px #FFF , 51px 1565px #FFF , 948px 1737px #FFF , 80px 1616px #FFF , 1735px 1552px #FFF , 1571px 559px #FFF , 2470px 53px #FFF , 1343px 1475px #FFF , 98px 27px #FFF , 1352px 681px #FFF , 1398px 567px #FFF , 814px 1054px #FFF , 764px 16px #FFF , 946px 113px #FFF , 1557px 1684px #FFF , 175px 71px #FFF , 467px 841px #FFF , 2548px 547px #FFF , 1202px 1904px #FFF , 1411px 871px #FFF , 110px 696px #FFF , 1018px 795px #FFF , 1758px 154px #FFF , 631px 797px #FFF , 2329px 375px #FFF , 1609px 1503px #FFF , 879px 280px #FFF , 1090px 1701px #FFF , 1090px 1995px #FFF , 1960px 1724px #FFF , 1780px 230px #FFF , 1860px 1300px #FFF , 1377px 1365px #FFF , 132px 1160px #FFF , 1790px 1569px #FFF , 1517px 225px #FFF , 208px 1161px #FFF , 1174px 1281px #FFF , 1313px 1566px #FFF , 2028px 326px #FFF , 1206px 1136px #FFF , 1691px 608px #FFF , 1040px 1635px #FFF , 1951px 1018px #FFF , 1527px 1746px #FFF , 2438px 1325px #FFF , 202px 1202px #FFF , 1949px 524px #FFF , 251px 836px #FFF , 182px 1108px #FFF , 930px 154px #FFF , 1391px 1935px #FFF , 532px 1354px #FFF , 1982px 650px #FFF , 1537px 1059px #FFF , 99px 1502px #FFF , 1511px 1440px #FFF , 961px 1493px #FFF , 463px 562px #FFF , 652px 585px #FFF , 2568px 303px #FFF , 1980px 853px #FFF , 366px 1069px #FFF , 2271px 1055px #FFF , 1122px 900px #FFF , 520px 701px #FFF , 2234px 793px #FFF , 1086px 135px #FFF , 863px 629px #FFF , 2229px 834px #FFF , 1510px 1315px #FFF , 1814px 712px #FFF , 943px 284px #FFF , 2404px 338px #FFF , 452px 1831px #FFF , 420px 1896px #FFF , 1969px 581px #FFF , 581px 1701px #FFF , 25px 141px #FFF , 1643px 613px #FFF , 1680px 135px #FFF , 2378px 1142px #FFF , 1411px 1971px #FFF , 2203px 1487px #FFF , 1255px 1208px #FFF , 1079px 439px #FFF , 110px 204px #FFF , 1400px 1168px #FFF , 2441px 803px #FFF , 312px 873px #FFF , 687px 292px #FFF , 2369px 337px #FFF , 436px 1893px #FFF , 752px 674px #FFF , 89px 521px #FFF , 117px 1702px #FFF , 2004px 1507px #FFF , 837px 1001px #FFF , 967px 352px #FFF , 341px 873px #FFF , 443px 989px #FFF , 184px 210px #FFF , 2141px 1388px #FFF , 1910px 146px #FFF , 886px 303px #FFF , 2100px 1251px #FFF , 1834px 1201px #FFF , 1715px 1528px #FFF , 1481px 761px #FFF , 1430px 1344px #FFF , 1965px 1306px #FFF , 744px 1994px #FFF , 1250px 758px #FFF , 86px 1306px #FFF , 2398px 387px #FFF , 2211px 1123px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1712px 1232px #FFF , 1143px 1779px #FFF , 776px 1253px #FFF , 500px 1543px #FFF , 591px 940px #FFF , 1969px 817px #FFF , 1959px 1104px #FFF , 1169px 1172px #FFF , 1678px 1951px #FFF , 1004px 2000px #FFF , 445px 227px #FFF , 460px 759px #FFF , 913px 510px #FFF , 2313px 1277px #FFF , 49px 1613px #FFF , 2012px 1713px #FFF , 621px 1054px #FFF , 2573px 78px #FFF , 353px 1808px #FFF , 525px 1754px #FFF , 782px 457px #FFF , 2403px 1600px #FFF , 2310px 454px #FFF , 1343px 1545px #FFF , 1296px 1911px #FFF , 2382px 440px #FFF , 736px 442px #FFF , 1863px 848px #FFF , 1474px 187px #FFF , 1984px 1686px #FFF , 1893px 1644px #FFF , 2380px 251px #FFF , 1268px 351px #FFF , 940px 1156px #FFF , 2237px 792px #FFF , 2446px 1201px #FFF , 1153px 1160px #FFF , 168px 1126px #FFF , 339px 1777px #FFF , 1480px 578px #FFF , 463px 894px #FFF , 1132px 1288px #FFF , 1421px 1003px #FFF , 333px 1709px #FFF , 2149px 1781px #FFF , 1212px 1509px #FFF , 1464px 1375px #FFF , 2224px 702px #FFF , 27px 1621px #FFF , 1375px 1973px #FFF , 223px 1238px #FFF , 662px 560px #FFF , 19px 633px #FFF , 2309px 863px #FFF , 1135px 770px #FFF , 454px 361px #FFF , 1828px 1772px #FFF , 535px 879px #FFF , 28px 555px #FFF , 2408px 1807px #FFF , 2055px 193px #FFF , 780px 433px #FFF , 692px 1765px #FFF , 1967px 425px #FFF , 386px 1238px #FFF , 1876px 13px #FFF , 1614px 1930px #FFF , 2538px 1445px #FFF , 855px 135px #FFF , 1398px 569px #FFF , 1096px 1455px #FFF , 1343px 119px #FFF , 795px 441px #FFF , 2467px 1703px #FFF , 1676px 206px #FFF , 958px 1771px #FFF , 2352px 295px #FFF , 1258px 467px #FFF , 1316px 1763px #FFF , 1908px 1866px #FFF , 249px 661px #FFF , 2023px 1082px #FFF , 1782px 426px #FFF , 1471px 396px #FFF , 568px 202px #FFF , 286px 1678px #FFF , 2222px 548px #FFF , 2169px 717px #FFF , 1676px 1104px #FFF , 1372px 1481px #FFF , 514px 540px #FFF , 1431px 412px #FFF , 979px 900px #FFF , 1207px 487px #FFF , 498px 162px #FFF , 2020px 996px #FFF , 623px 210px #FFF , 2315px 1610px #FFF , 2498px 512px #FFF , 2361px 1842px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1712px 1232px #FFF , 1143px 1779px #FFF , 776px 1253px #FFF , 500px 1543px #FFF , 591px 940px #FFF , 1969px 817px #FFF , 1959px 1104px #FFF , 1169px 1172px #FFF , 1678px 1951px #FFF , 1004px 2000px #FFF , 445px 227px #FFF , 460px 759px #FFF , 913px 510px #FFF , 2313px 1277px #FFF , 49px 1613px #FFF , 2012px 1713px #FFF , 621px 1054px #FFF , 2573px 78px #FFF , 353px 1808px #FFF , 525px 1754px #FFF , 782px 457px #FFF , 2403px 1600px #FFF , 2310px 454px #FFF , 1343px 1545px #FFF , 1296px 1911px #FFF , 2382px 440px #FFF , 736px 442px #FFF , 1863px 848px #FFF , 1474px 187px #FFF , 1984px 1686px #FFF , 1893px 1644px #FFF , 2380px 251px #FFF , 1268px 351px #FFF , 940px 1156px #FFF , 2237px 792px #FFF , 2446px 1201px #FFF , 1153px 1160px #FFF , 168px 1126px #FFF , 339px 1777px #FFF , 1480px 578px #FFF , 463px 894px #FFF , 1132px 1288px #FFF , 1421px 1003px #FFF , 333px 1709px #FFF , 2149px 1781px #FFF , 1212px 1509px #FFF , 1464px 1375px #FFF , 2224px 702px #FFF , 27px 1621px #FFF , 1375px 1973px #FFF , 223px 1238px #FFF , 662px 560px #FFF , 19px 633px #FFF , 2309px 863px #FFF , 1135px 770px #FFF , 454px 361px #FFF , 1828px 1772px #FFF , 535px 879px #FFF , 28px 555px #FFF , 2408px 1807px #FFF , 2055px 193px #FFF , 780px 433px #FFF , 692px 1765px #FFF , 1967px 425px #FFF , 386px 1238px #FFF , 1876px 13px #FFF , 1614px 1930px #FFF , 2538px 1445px #FFF , 855px 135px #FFF , 1398px 569px #FFF , 1096px 1455px #FFF , 1343px 119px #FFF , 795px 441px #FFF , 2467px 1703px #FFF , 1676px 206px #FFF , 958px 1771px #FFF , 2352px 295px #FFF , 1258px 467px #FFF , 1316px 1763px #FFF , 1908px 1866px #FFF , 249px 661px #FFF , 2023px 1082px #FFF , 1782px 426px #FFF , 1471px 396px #FFF , 568px 202px #FFF , 286px 1678px #FFF , 2222px 548px #FFF , 2169px 717px #FFF , 1676px 1104px #FFF , 1372px 1481px #FFF , 514px 540px #FFF , 1431px 412px #FFF , 979px 900px #FFF , 1207px 487px #FFF , 498px 162px #FFF , 2020px 996px #FFF , 623px 210px #FFF , 2315px 1610px #FFF , 2498px 512px #FFF , 2361px 1842px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.orbit {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

.orbit-icon {
  width: 75px;
  height: 75px;
  line-height: 75px;
  font-size: 1.2em;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  text-align: center;
  display: block;
}

.orbit-wrap {
  height: 80vh;
  list-style: none;
  font-size: 1.3em;
}
.orbit-wrap > li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.orbit-wrap > li:hover ul {
  border-width: 2px;
  border-color: #fff;
}
.orbit-wrap > li:hover ~ li ul {
  border-color: rgba(255, 255, 255, 0.2);
}
.orbit-wrap > li:hover ~ li ul li {
  opacity: 0.4;
}

ul[class^=ring] {
  transition: all 300ms ease-in-out;
}
ul[class^=ring] li {
  transition: all 300ms ease-in-out;
}

.ring-0 {
  width: 80vh;
  height: 80vh;
  animation: clockwiseRotate 50s linear infinite;
}
.ring-0 i {
  animation: counterClockwiseRotate 50s linear infinite;
}

.ring-0 > *:nth-of-type(1) {
  transform: rotate(126.6666666667deg) translate(40vh) rotate(-126.6666666667deg);
}

.ring-0 > *:nth-of-type(2) {
  transform: rotate(253.3333333333deg) translate(40vh) rotate(-253.3333333333deg);
}

.ring-0 > *:nth-of-type(3) {
  transform: rotate(380deg) translate(40vh) rotate(-380deg);
}

.ring-1 {
  width: 60vh;
  height: 60vh;
  animation: clockwiseRotate 42.5s linear infinite;
}
.ring-1 i {
  animation: counterClockwiseRotate 42.5s linear infinite;
}

.ring-1 > *:nth-of-type(1) {
  transform: rotate(126.6666666667deg) translate(30vh) rotate(-126.6666666667deg);
}

.ring-1 > *:nth-of-type(2) {
  transform: rotate(253.3333333333deg) translate(30vh) rotate(-253.3333333333deg);
}

.ring-1 > *:nth-of-type(3) {
  transform: rotate(380deg) translate(30vh) rotate(-380deg);
}

.ring-2 {
  width: 40vh;
  height: 40vh;
  animation: clockwiseRotate 35s linear infinite;
}
.ring-2 i {
  animation: counterClockwiseRotate 35s linear infinite;
}

.ring-2 > *:nth-of-type(1) {
  transform: rotate(126.6666666667deg) translate(20vh) rotate(-126.6666666667deg);
}

.ring-2 > *:nth-of-type(2) {
  transform: rotate(253.3333333333deg) translate(20vh) rotate(-253.3333333333deg);
}

.ring-2 > *:nth-of-type(3) {
  transform: rotate(380deg) translate(20vh) rotate(-380deg);
}

.ring-3 {
  width: 20vh;
  height: 20vh;
  animation: clockwiseRotate 27.5s linear infinite;
}
.ring-3 i {
  animation: counterClockwiseRotate 27.5s linear infinite;
}

.ring-3 > *:nth-of-type(1) {
  transform: rotate(190deg) translate(10vh) rotate(-190deg);
}

.ring-3 > *:nth-of-type(2) {
  transform: rotate(380deg) translate(10vh) rotate(-380deg);
}

ul[class^=ring] {
  border: solid 1px rgba(33, 150, 243, 0.8);
  position: relative;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
}

ul[class^=ring] li {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 75px;
  margin: -37.5px;
}

/*
  center;
*/
.orbit-center {
  z-index: 5;
  font-size: 2em;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
  background: hotpink;
  border-radius: 50%;
}
.orbit-center:hover .orbit-center__icon {
  transform: rotateZ(0deg);
}

.orbit-center__icon {
  transform: rotateZ(-360deg);
  transition: all 300ms ease-in-out;
}

/*
animations
*/
@keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/*
icons
*/
.fa-heart-o {
  background: #b71c1c;
  color: white;
}

.fa-coffee {
  background: #4caf50;
  color: #cddc39;
}

.fa-safari {
  background: white;
  color: darkslateblue;
}

.fa-firefox {
  background: #1565c0;
  color: #ff8f00;
}

.fa-chrome {
  background: #fbc02d;
  color: #ef6c00;
}

.fa-edge {
  background: #03a9f4;
  color: white;
}

.fa-android {
  background: snow;
  color: limegreen;
}

.fa-apple {
  background: #444;
  color: white;
}

.fa-linux {
  background: white;
  color: #222;
}

.fa-windows {
  background: white;
  color: #03a9f4;
}

.fa-terminal {
  background: #222;
  color: #fff;
}

.fa-html5 {
  background: white;
  color: #e65100;
}

.fa-css3 {
  background: white;
  color: #2196f3;
}

.fa-git {
  background: #222;
  color: white;
}

.fa-free-code-camp {
  background: green;
  color: white;
}

.fa-meetup {
  background: red;
  color: white;
}

.fa-podcast {
  background: red;
  color: white;
}

.fa-codepen {
  background: #333;
  color: white;
}

.ring-0 .plane-0 {
  background: #b71c1c;
  color: white;
}

.ring-0 .plane-1 {
  background: #4caf50;
  color: #cddc39;
}

.ring-0 .plane-2 {
  background: white;
  color: darkslateblue;
}

.ring-0 .plane-3 {
  background: #1565c0;
  color: #ff8f00;
}

.ring-1 .plane-0 {
  background: #fbc02d;
  color: #ef6c00;
}

.ring-1 .plane-1 {
  background: #03a9f4;
  color: white;
}

.ring-1 .plane-2 {
  background: snow;
  color: limegreen;
}

.ring-1 .plane-3 {
  background: #444;
  color: white;
}

.ring-2 .plane-0 {
  background: white;
  color: #222;
}

.ring-2 .plane-1 {
  background: white;
  color: #03a9f4;
}

.ring-2 .plane-2 {
  background: #222;
  color: #fff;
}

.ring-2 .plane-3 {
  background: white;
  color: #e65100;
}

.ring-3 .plane-0 {
  background: white;
  color: #2196f3;
}

.ring-3 .plane-1 {
  background: #222;
  color: white;
}

.ring-3 .plane-2 {
  background: green;
  color: white;
}

/*# sourceMappingURL=style.css.map */
